/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/
* {
    background:     #271318FF; /* fondo principal */
    background-alt: #E68D74FF; /* fondo alternativo */
    foreground:     #dbc6e1FF; /* texto */
    selected:       #EFC072FF; /* selección */
    active:         #B36CA7FF; /* entrada activa */
    urgent:         #998a9dFF; /* urgente */
}
