/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/
* {
    background:     #162542FF; /* fondo principal */
    background-alt: #607AC3FF; /* fondo alternativo */
    foreground:     #ddd1dcFF; /* texto */
    selected:       #9F9ED2FF; /* selección */
    active:         #9C97ACFF; /* entrada activa */
    urgent:         #9a929aFF; /* urgente */
}
